@{
    ViewBag.Title = "Customer Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f0f0f0; /* Set your preferred background color */
    }

    .container {
        margin-top: auto;
    }

    h2 {
        text-align: center;
        color: #3498db;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .dashboard-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        width: 250px;
        padding: 30px;
        margin: 15px;
        border: 2px solid #3498db; /* Border color matches h2 color for consistency */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        font-size: 1.5em;
        text-align: center;
    }

        .card h2 {
            color: #3498db;
            font-size: large;
        }

        .card p {
            margin-top: 15px;
            color: #333;
            font-size: large;
        }

    .card-button {
        display: block;
        margin-top: 20px;
        text-align: center;
        font-size: large;
    }

    .btn-primary {
        background-color: #3498db;
        border-color: #3498db;
    }

        .btn-primary:hover {
            background-color: #2a80b9;
            border-color: #2a80b9;
        }
</style>

<div class="container">
    <h2>Welcome, @Session["User"]!</h2>
    <br />
    <div class="dashboard-container">
        <!-- Card 1 -->
        <div class="card">
            <h2>Total Users</h2>
            <p><label>Total Users:</label> </p>
            @Html.ActionLink("View Passbook", "Index", "Transaction", null, new { @class = "card-button btn btn-primary" })
        </div>

        <!-- Card 2 -->
        <div class="card">
            <h2>Revenue</h2>
            <p><label>Total Revenue:</label></p>
            @Html.ActionLink("View Account", "Index", "Account", null, new { @class = "card-button btn btn-primary" })
        </div>

        <!-- Card 3 -->
        <div class="card">
            <h2>Recent Orders</h2>
            <p><label>Total Orders:</label> </p>
            @Html.ActionLink("View Document", "Index", "Document", null, new { @class = "card-button btn btn-primary" })
        </div>

        
    </div>
</div>
<br />
<br />
<br />

@section Scripts {
    <!-- Add your scripts if needed -->
}
