
@model IEnumerable<BankMVC.ViewModels.CustomerVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Customers</h2>
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
<script src="~/Scripts//myjqgrid.js" type="text/javascript"></script>

<style>
    body {
        background-color: #f0f0f0;
        color: #333;
    }

    .container {
        margin-top: auto;
       
    }

    h2 {
        text-align: center;
        color: #3498db;
        font-size: 2em;
        margin-bottom: 20px;
    }

    #grid {
        width: 100%;
        margin-top: 20px;
        overflow-x: auto;
    }

    #pager {
        margin-top: 10px;
    }

    .btn-primary {
        background-color: #3498db;
        border-color: #3498db;
        font-size: large;
        color: black;
    }

        .btn-primary:hover {
            background-color: #2a80b9;
            border-color: #2a80b9;
        }

    .create-button {
        text-align: left;
    }
    /*.table{
        align-items:flex-start;
    }*/
</style>

<div class="create-button">
    @Html.ActionLink("Create", "Create", "Customer", new { area = "" }, new { @class = "btn btn-primary", style = "color: black;" })
</div>

<br />
<div class="table" align="left">
    <table id="grid"></table>
    <div id="pager"></div>
</div>
